[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
iexcloud = ">=0.4.1"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
